#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* header */

.Header {
  position: absolute;
  top: 0;
  margin-top: 2.5em;
  display: flex;
  justify-content: space-around;
}

.nav-stuff {
  margin-right: 1em;
  display: flex;
  justify-content: space-between;
}

.calendar.navbar-nav {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  font-weight: 600;
}
.log {
  margin-top: 48em;
  margin-left: 5em;
}

.datecal { 
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.bi-heart-arrow {
  margin-top: 8px;
}

.login-text{
  font-size: 20px;
}

.navbar-custom {
  display: flex;
  justify-content: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.nav-item-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: -10px;
  flex-grow: 1;
}

.nav-item {
  margin: 0 10px; 
}

.calendar-nav {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.arrow {
  cursor: pointer;
  margin: 0 5px; 
}


/* calendar page */
.calendar-page {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.react-calendar__tile {
  position: relative;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 1px;
}

.good-day {
  background-color: #E8ECF6;
}

.neutral-day {
  background-color: #9E77CA;
}

.nauseous, .fainting, .bed-bound {
  background-color: #FF3577;
}



/* home */

.HomeWelcome{
  font-size: 20px;
  margin-top: 2em;
  margin-bottom: -20px;
  font-weight: 700;
}

.mood-check{
  font-size: 16px;
  font-style: italic;
  margin-bottom:2em;
  padding-top: 2em;
  font-weight: bold;
}

.mood-pic {
  width: 45px;
  margin-left: 10px;
  margin-right: 10px;
}

.salt-pic {
  width: 33px;
  margin-left: 10px;
  margin-right: 10px;
}

.bi-droplet, .bi-droplet-fill{
  width:35px;
  margin-left: 10px;
  margin-right: 10px;
}

.disclaimer {
  margin-top: 1em;
  font-style: italic;
  font-weight: 200;
}

.daily-log {
  margin-bottom: -1em;
}

.update-button{
  margin-top: -2vh;
}

.deletediv {
  margin-top: 3em;
}

/* daily log */

.heartrate {
  display: flex;
  gap: 30px;
}

.rate {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.data.heart {
  margin-left: 18px;
  padding: 10px px;
  font-weight: bold;
}

.ratetitle {
  font-size: 16px;
  letter-spacing: 1px;
}

.weather {
  justify-content: center;
  margin-bottom: 50px;
}

.mealitem {
  display: flex;
  background-color: #223863;
  border-radius: 20px;
  flex: 1 1 calc(50% - 10px); 
  box-sizing: border-box;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.item {
  padding-top: 8px;
}

.array-org {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  max-height: 200px;
  overflow-y: auto;
}

.ratetitle.ex {
  margin-top: 50px;
}

.ratetitle.ex.form-label{
  margin-top: 10px;
}
.plus {
  margin-top: 20px;
  margin-right: 20em;
}

.array-org.form {
  justify-content: center;
}

.weathertext {
  margin-top: 20px;
}

.form-control {
  font-size: 13px;
}

.weather.rate.form {
  margin-bottom: 16px;
}

.index.form-control {
  width: 100px;
}

.logData {
  margin-top: 60px;
}

