#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* header */

.Header {
  position: absolute;
  top: 0;
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navbar-custom {
  margin-right: 10%;
}
.nav-stuff {
  margin-right: 1em;
  display: flex;
  justify-content: space-between;
  margin-right:50px;
}

.calendar.navbar-nav {
  display: flex;
  justify-content: space-between;
  /* padding-right: 50px;
  padding-left: 50px; */
  font-weight: 600;
}
.log {
  margin-top: 48em;
  /* margin-left: 5em; */
}

.datecal { 
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.bi-heart-arrow {
  margin-top: 8px;
}

.login-text{
  font-size: 20px;
}

.navbar-custom {
  display: flex;
  justify-content: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.nav-item-container {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.nav-item {
  margin: 0 10px; 
}

.calendar-nav {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.arrow {
  cursor: pointer;
  margin: 0 5px; 
}


/* calendar page */

.calendar-page {
  padding: 20px;
  max-width: 500px;
  margin-top: 1em;
}

.react-calendar__tile {
  position: relative;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 1px;
}

.good-day {
  background-color: #E8ECF6;
}

.neutral-day {
  background-color: #9E77CA;
}

.nauseous, .fainting, .bed-bound {
  background-color: #FF3577;
}

.react-calendar {
  background-color: #15223D;
  border: none;
  font-family: "Nunito", sans-serif;
  color:#E8ECF6;
  font-size: .9rem;
  text-decoration: none;
}

.react-calendar__month-view__days__day--weekend{
  color:#E8ECF6;

}

.react-calendar__month-view__weekdays__weekday abbr{
  text-decoration: none;
}

.react-calendar__tile--active {
  background-color: #95a2be !important;
  color: #15223D;
  font-weight: bold;
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
  font-size: 20px;
}

.react-calendar__navigation__prev-button abbr,
.react-calendar__navigation__next-button abbr {
  width: 10px;
  height: 10px;
}

.react-calendar__navigation__label__labelText {
  font-size: 1.2em;
  text-transform: lowercase;
}

.react-calendar__tile.react-calendar__tile--now {
  background-color: #223863;
}

.react-calendar__navigation__arrow:hover,
.react-calendar__navigation__label:hover {
  background-color: transparent !important; 
  color: #000 !important;
  border: none !important;
}

.react-calendar__tile {
  font-size: .99rem; 
}

.filter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.heartrate.cal {
  margin-top: 20px;
}

.heart.cal {
  background-color: #223863;
  padding: 2px 20px;
  border-radius: 10px;
}

.this.item {
  background-color: #223863;
  padding: 2px 20px;
  border-radius: 10px;
}

.weather.rate.cal {
  margin-bottom: 5px;
}

.array-org.cal {
  margin-bottom: 20px;
}

.logdatecal {
  font-size: 16px;
}

.datecal{
  background-color: #223863;
  padding: 2px 15px;
  border-radius: 10px;
}

/* home */

.HomeWelcome{
  font-size: 20px;
  margin-top: 2em;
  margin-bottom: -20px;
  font-weight: 700;
}

.mood-check{
  font-size: 16px;
  font-style: italic;
  margin-bottom:2em;
  padding-top: 2em;
  font-weight: bold;
}

.mood-pic {
  width: 45px;
  margin-left: 10px;
  margin-right: 10px;
}

.salt-pic {
  width: 33px;
  margin-left: 10px;
  margin-right: 10px;
}

.bi-droplet, .bi-droplet-fill{
  width:35px;
  margin-left: 10px;
  margin-right: 10px;
}

.disclaimer {
  margin-top: 1em;
  font-style: italic;
  font-weight: 200;
}

.daily-log {
  margin-bottom: -1em;
}

.update-button{
  margin-top: -2vh;
}

.deletediv {
  margin-top: 3em;
}

.everything{
  margin-top: -10px;
}
/* daily log */

.heartrate {
  display: flex;
  gap: 30px;
}

.rate {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.data.heart {
  margin-left: 18px;
  padding: 10px px;
  font-weight: bold;
}

.ratetitle {
  font-size: 16px;
  letter-spacing: 1px;
}

.weather {
  justify-content: center;
  margin-bottom: 50px;
}

.mealitem {
  display: flex;
  background-color: #223863;
  border-radius: 20px;
  flex: 1 1 calc(50% - 10px); 
  box-sizing: border-box;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.item {
  padding-top: 8px;
}

.array-org {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  max-height: 200px;
  overflow-y: auto;
}

.ratetitle.ex {
  margin-top: 50px;
}

.ratetitle.ex.form-label{
  margin-top: 10px;
}
.plus {
  margin-top: 20px;
  margin-right: 20em;
}

.array-org.form {
  justify-content: center;
}

.weathertext {
  margin-top: 20px;
}

.form-control {
  font-size: 13px;
}

.weather.rate.form {
  margin-bottom: 16px;
}

.index.form-control {
  width: 100px;
}

.logData {
  margin-top: 60px;
}

