#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* header */

.Header {
  position: absolute;
  top: 0;
  margin-top: 5em;
}

.log {
  margin-top: 48em;
  margin-left: 5em;
}

.login-text{
  font-size: 20px;
}
/* calendar page */
.calendar-page {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.react-calendar__tile {
  position: relative;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 1px;
}

.good-day {
  background-color: #E8ECF6;
}

.neutral-day {
  background-color: #9E77CA;
}

.nauseous, .fainting, .bed-bound {
  background-color: #FF3577;
}


/* home */

.HomeWelcome{
  font-size: 20px;
  margin-top: 2em;
  margin-bottom: -10px;
}

.mood-check{
  font-size: 16px;
  font-style: italic;
  margin-bottom:2em;
  padding-top: 2em;
  font-weight: bold;
}

.mood-pic {
  width: 45px;
  margin-left: 10px;
  margin-right: 10px;
}

.salt-pic {
  width: 33px;
  margin-left: 10px;
  margin-right: 10px;
}

.bi-droplet, .bi-droplet-fill{
  width:35px;
  margin-left: 10px;
  margin-right: 10px;
}

.disclaimer {
  margin-top: 1em;
  font-style: italic;
}

.daily-log {
  margin-bottom: 3em;
}

.update-button{
  margin-top: -2vh;
}