:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #223863;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, .nav-link {
  font-weight: 500;
  color: #E8ECF6;
  text-decoration: inherit;
}
a:hover, .nav-link:hover {
  color: #E8ECF6;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  text-transform: lowercase;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #15223D;
  color: #E8ECF6;
  font-size: 14px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: #223863;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #E8ECF6;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.update-button{
  margin-top: 2vh;
}

.form-control,
.form-control:focus,
.form-select,
.form-select:focus,
textarea.form-control,
textarea.form-control:focus,
input[type="text"].form-control,
input[type="text"].form-control:focus,
input[type="email"].form-control,
input[type="email"].form-control:focus,
input[type="password"].form-control,
input[type="password"].form-control:focus {
  background-color: #223863;
  outline: none;
  box-shadow: none; 
  border-color: #223863;
  border-width: 1px;
  color:#E8ECF6;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

